terratowns_endpoint = "https://terratowns.cloud/api"
fallout3 = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/fallout3"
    content_version = 2
}

chocolateChip = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/chocolateChip"
    content_version = 1
}
